
console.log('hey');
var userNAME = '<%= j(render @user_search) %>'
if (<%= @user_search.count %> === 0 || <%= @user_search.nil? %>) {
  $('#container .user').remove();
  $('<div><p>No results found</p></div>').appendTo($('#container'))

} else {
  $('#container .user').remove();
  $(userNAME).appendTo($('#container'));
}
