<% if @user_search.empty? %>
  $('<div><p>No results found</p></div>').appendTo($('.modal-content'));
<% else %>
  var userNAME = '<%= j(render "user_search_results") %>';
  $('#search-div').remove()
  $(userNAME).appendTo($('.modal-content'));
<% end %>
