<div class="new-sticky-modal">
<%= form_for @sticky, remote: true  do |f| %>

  <%= f.text_field :title, autofocus: true, placeholder: "TITLE" %>

  <%= f.text_area(:content, placeholder: "CONTENT", rows: 10) %>

  <%= f.submit %>

<% end %>
</div>
