<div class="sticky">
  <p class="title">
  <%= @sticky.title %>
  </p>
  <p class="content">
  <%= @sticky.content %>
  </p>
  <div id="sticky-meta">
    <%= link_to("edit", edit_sticky_path(@sticky)) %>
    <%= link_to("delete", sticky_path(@sticky), method: :delete) %>
  </div>
</div>
